*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item{
    min-width: 80vw;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 4px 5px 13px 2px black;
}
#updateValue{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.item p{
 text-align: center;
}
.item button, .item h6{
   float: right;
   margin-left: 8px;
}